body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content:center ;
  align-items:center ;
  min-height: 100vh;
}


.contenedor {
  max-width: 1000px;
  margin: 50px auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  text-align: center;
}


h1 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #333;
}


p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}


.boton {
  background-color: #007bff;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  display: inline-block;
}

.boton:hover {
  background-color: #0056b3;
}


.tarjetas-opciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.tarjeta {
  background-color: #f9f9f9;
  border-radius: 15px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.tarjeta:hover {
  transform: translateY(-5px);
}

.tarjeta h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.tarjeta p {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}


canvas {
  max-width: 600px;
  margin: 0 auto 20px;
  display: block;
}

@media (max-width: 768px) {
  .contenedor {
    padding: 20px;
  }

  .tarjeta {
    width: 90%;
  }
}

.contenedorlogin {
  max-width: 400px;
  padding: 30px 40px;
  text-align: left;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}


.contenedorlogin h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #181717;
}

.contenedorlogin label {
  display: block;
  margin-bottom: 5px;
  color: #444;
  font-weight: 500;
}

.contenedorlogin input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s ease;
}

.contenedorlogin input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.contenedorlogin .boton {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
}

.contenedorlogin .enlace {
  text-align: center;
  margin-top: 10px;
}

.contenedorlogin .enlace a {
  color: #007bff;
  text-decoration: none;
}

.contenedorlogin .enlace a:hover {
  text-decoration: underline;
}
